.navigation {
  background-color: #4BA8F3;
  color: #ffffff; }
  .navigation h3 {
    padding-bottom: 5px; }
  .navigation .menu ul {
    list-style-type: none;
    float: right; }
    .navigation .menu ul li {
      padding-top: 20px; }
      .navigation .menu ul li a {
        margin-left: 10px;
        font-size: 18px;
        color: #ffffff; }
      .navigation .menu ul li a:hover {
        color: #E1E0E9;
        text-decoration: none; }
  .navigation .mobile-menu {
    float: none !important;
    margin-left: -8%; }
    .navigation .mobile-menu li {
      padding-top: 0px !important; }
    .navigation .mobile-menu a {
      margin-left: 5px !important;
      margin-right: 5px !important; }
