@import 'colors';

.navigation{
    background-color: $primary-light;
    color: $text_light;

    h3{
        padding-bottom: 5px;
    }

    .menu{
        ul{
            list-style-type: none;
            float: right;

            li{
            padding-top: 20px;

                a{
                    margin-left: 10px;
                    font-size: 18px;
                    color: $text_light;
                }

                a:hover{
                    color: $text;
                    text-decoration: none;
                }
            }
        }
    }

    .mobile-menu{
        float: none !important;
        margin-left: -8%;


        li{
            padding-top: 0px !important;

        }

        a{
            margin-left: 5px !important;
            margin-right: 5px !important;
        }
    }
}
